{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/changepw" method="post">
        <h2 class="header">Change Password</h2>
        <br>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
            <input class="form-control mx-auto w-auto" id="password2" name="confirmation" placeholder="Confirm Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
{% endblock %}