{% extends "layout.html" %}

{% block title %}
    Quote Information
{% endblock %}

{% block main %}
    <table action="/quoted" class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Symbol</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>{{ stockinfo.name }}</td>
                    <td>{{ stockinfo.price }}</td>
                    <td>{{ stockinfo.symbol }}</td>
                </tr>
        </tbody>
    </table>
{% endblock %}